<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <%= link_to(root_path(), { class: "navbar-brand" }) do %>
        <%= "#{Rails.application.config.app_name}" %>
        <i class="text-info fas fa-robot"></i>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item <%= is_active?('nice_categories#index')%>">
            <%= link_to("Categories", nice_categories_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active?('nice_areas#index')%>">
            <%= link_to("Specialty Areas", nice_areas_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active?('nice_work_roles#index')%>">
            <%= link_to("Work Roles", nice_work_roles_path(), { class: "nav-link" }) %>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item <%= is_active?('nice_knowledges#index')%>">
            <em><%= link_to("Knowledge", nice_knowledges_path(), { class: "nav-link" }) %></em>
          </li>
          <li class="nav-item <%= is_active?('nice_skills#index')%>">
            <em><%= link_to("Skills", nice_skills_path(), { class: "nav-link" }) %></em>
          </li>
          <li class="nav-item <%= is_active?('nice_abilities#index')%>">
            <em><%= link_to("Abilities", nice_abilities_path(), { class: "nav-link" }) %></em>
          </li>
          <li class="nav-item <%= is_active?('nice_tasks#index')%>">
            <em><%= link_to("Tasks", nice_tasks_path(), { class: "nav-link" }) %></em>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
