<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Work Roles</th>
      </tr>
    </thead>
    <tbody>
      <% areas.each do |area| %>
      <tr data-link="<%= nice_area_path(area.acronym) %>">
        <th scope="row"><%= area.nice_category.acronym %>-<%= area.acronym %></th>
        <td><%= area.name %></td>
        <td><%= area.nice_work_roles.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>