<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Specialty Areas</th>
        <th scope="col">Work Roles</th>
      </tr>
    </thead>
    <tbody>
      <% categories.each do |category| %>
      <tr data-link="<%= nice_category_path(category.acronym) %>">
        <th scope="row"><%= category.acronym %></th>
        <td><%= category.name %></td>
        <td><%= category.nice_areas.count %></td>
        <td><%= category.nice_work_roles.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>