<% unless skills.nil? %>
<table id="nice_skills_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
      <th scope="col" nowrap>Work Roles</th>
    </tr>
  </thead>
  <tbody>
    <% skills.each do |skill| %>
    <tr data-link="<%= nice_skill_path(skill.skill_code) %>">
      <th scope="row">
        <%= link_to nice_skill_path(skill.skill_code) do %>
        <%= skill.skill_code %>
        <% end %>
      </th>
      <td><%= skill.description %></td>
      <td><%= skill.nice_work_roles.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<table id="nice_skills_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
      <th scope="col" nowrap>Work Roles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="2">Nothing here!</th>
    </tr>
  </tbody>
</table>
<% end %>