<% unless work_roles.nil? %>
<table id="nice_work_roles_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Knowledge</th>
      <th scope="col">Skills</th>
      <th scope="col">Abilities</th>
      <th scope="col">Tasks</th>
    </tr>
  </thead>
  <tbody>
    <% work_roles.each do |role| %>
    <tr data-link="<%= nice_work_role_path(role.acronym) %>">
      <th scope="row">
        <%= link_to nice_work_role_path(role.acronym) do %>
        <%= role.acronym %> [<%= role.opm_code %>]
        <% end %>
      </th>
      <td><%= role.name %></td>
      <td><%= role.nice_knowledge_mappings.count %></td>
      <td><%= role.nice_skill_mappings.count %></td>
      <td><%= role.nice_ability_mappings.count %></td>
      <td><%= role.nice_task_mappings.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<table id="nice_work_roles_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Knowledge</th>
      <th scope="col">Skills</th>
      <th scope="col">Abilities</th>
      <th scope="col">Tasks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="6">Nothing here!</th>
    </tr>
  </tbody>
</table>
<% end %>