<% unless @search.nil? %>
  <% if (@hits['work_roles'].nil? || @hits['work_roles'].length == 0) &&
    (@hits['knowledges'].nil? || @hits['knowledges'].length == 0) &&
    (@hits['skills'].nil? || @hits['skills'].length == 0) &&
    (@hits['abilities'].nil? || @hits['abilities'].length == 0) &&
    (@hits['tasks'].nil? || @hits['tasks'].length == 0) &&
    @search.to_s != '' %>
  <h2 class='text-center'>No matches found.</h2>
  <% else %>
  <ul class='list-unstyled'>
    <% @hits['work_roles'].each { |hit| %>
      <li>
        <%= link_to(nice_work_role_path(hit.acronym)) do %>
        <h2><%= hit.acronym %> <small><%= hit.name %></small></h2>
        <% end %>
        <p class="text-muted small"><em><%= hit.description %></em></p>
      </li>
    <% } unless @hits['work_roles'].nil? %>

    <% @hits['knowledges'].each { |hit| %>
      <li>
        <%= link_to(nice_knowledge_path(hit.acronym)) do %>
        <h2><small><em><%= hit.acronym %></em></small></h2>
        <% end %>
        <p class="text-muted small"><em><%= hit.description%></em></p>
      </li>
    <% } unless @hits['knowledges'].nil? %>

    <% @hits['skills'].each { |hit| %>
      <li>
        <%= link_to(nice_skill_path(hit.acronym)) do %>
        <h2><small><em><%= hit.acronym %></em></small></h2>
        <% end %>
        <p class="text-muted small"><em><%= hit.description%></em></p>
      </li>
    <% } unless @hits['skills'].nil? %>
    
    <% @hits['abilities'].each { |hit| %>
      <li>
        <%= link_to(nice_ability_path(hit.acronym)) do %>
        <h2><small><em><%= hit.acronym %></em></small></h2>
        <% end %>
        <p class="text-muted small"><em><%= hit.description%></em></p>
      </li>
    <% } unless @hits['abilities'].nil? %>

    <% @hits['tasks'].each { |hit| %>
    <li>
      <%= link_to(nice_task_path(hit.acronym)) do %>
      <h2><small><em><%= hit.acronym %></em></small></h2>
      <% end %>
      <p class="text-muted small"><em><%= hit.description%></em></p>
    </li>
  <% } unless @hits['tasks'].nil? %>

  </ul>
  <% end %>
<% end %>