<!DOCTYPE html>
<html lang="en">
  <%= render partial: "shared/head" %>

  <body>
    <%= render partial: "shared/nav" %>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <%= yield :jumbotron %>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <%= yield :main %>
      </div>
    </main>

    <%= render partial: "shared/foot" %>

    <%= render partial: "shared/scripts" %>
  </body>
</html>
